.botones {

    background-color: $nickel;
    color: $white;
    padding: 1rem 2rem;
    border-radius: 7rem;
    &:hover {
        background-color: $ligh-gray;
        color: $white;
    }
    &:active {
        background-color: $fuzzi-wuzzi;
        color: $white;
    }
}