h1 {
    font-family: $playfair;
    font-weight: $black;
    font-style: oblique;
    font-size: $xx-large; 
}

h5 {
    font-family: $playfair;
    font-weight: $black;
    font-style: oblique;
    font-size: $large; 
}

p {
    font-family: $roboto;
    font-weight: $light;
    font-size: $medium; 
}

h2 {
    font-family: $playfair;
    font-weight: $black;
    font-style: oblique;
    font-size: $x-large; 
}

h4 {
    font-family: $roboto;
    font-weight: $light;
    font-size: $large;
    color: $ruddy-pink; 
}

.separation-text {
    line-height: 3rem;
}

.resaltado { color: $ruddy-pink;}