//Variables de color

//Colores Blancos

$white: #ffffff;
$platinum: #e6e7e7;
$ligh-gray: #d1d1d1;

//Colores Rojos

$fuzzi-wuzzi: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;

//Colores Negros

$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;


//Fuentes tipográficas

$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//Pesos de fuentes 
$light: 300;
$regular: 400;
$black: 900;



//Tamaños tipográficos
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
